body {
    color: #222;
    font-family: sans-serif;

}

.grande {
    font-size: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}

.flex-item {
    flex-grow: 1;
    margin: 20px;
    max-width: 260px;
    border: 2px solid #333;

}

.flex-item:hover {
    border-color: #71a171;
    box-shadow: 0 0 30px black;
}

.flex-item:focus {
    border-color: #71a171;
    box-shadow: 0 0 30px black;
}

h2,
h3 {
    margin: 0;
}

h3 {
    color: #666;
}

p b {
    color: #71a174;
}

.llave-img {
    width: 300px;

}

form {
    width: 100%;
    text-align: center;
}

input[type="submit"] {
    background: #71a171;
    color: #fff;
    border: none;
    padding: 12px 28px;
    font-size: 18px;
    letter-spacing: 1px;
}